<?xml version="1.0"?>

<launch>

	<arg name="laser_enabled" default="true"/>
	<arg name="kinect_enabled" default="false"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
	    <arg name="world_name" value="$(find husky_highlevel_controller)/worlds/singlePillar.world"/>
	    <arg name="paused" value="false"/>
	    <arg name="use_sim_time" value="true"/>
	    <arg name="gui" value="true"/>
	    <arg name="headless" value="false"/>
	    <arg name="debug" value="false"/>
 	</include>

	<!-- Launch ROS Package Template Node -->
	<node pkg="husky_highlevel_controller" type="husky_highlevel_controller" name="husky_highlevel_controller" output="screen">
		<rosparam command="load" file="$(find husky_highlevel_controller)/param/param.yaml"/>
	</node>

	<include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    	<arg name="laser_enabled" value="$(arg laser_enabled)"/>
    	<arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
	</include>

</launch>